<ion-header>
  <ion-toolbar>
    <!-- Side menu button -->
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Nouveau devis</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Remplir le formulaire du devis :</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <form
        [formGroup]="devisForm"
        enctype="multipart/form-data"
        (ngSubmit)="submitForm(devisForm)"
      >
        <ion-item>
          <ion-label position="floating">Marque du véhicule</ion-label>
          <ion-select formControlName="brand" required value="">
            <ion-select-option
              *ngFor="let item of brands$ | async"
              [value]="item"
              >{{item.name}}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Model du véhicule</ion-label>
          <ion-select formControlName="model" required value="">
            <ion-select-option
              *ngFor="let item of models$ | async"
              [value]="item.name"
              >{{item.name}}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Année du véhicule</ion-label>
          <ion-select formControlName="year" required value="">
            <ion-select-option *ngFor="let item of years" [value]="item"
              >{{item}}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Immatriculation</ion-label>
          <ion-input
            type="text"
            formControlName="plate_number"
            required
            class="ion-text-uppercase"
          >
          </ion-input>
        </ion-item>
        <ion-item *ngIf="user && user.status_id !== 1">
          <ion-label position="floating">Numéro de chassis</ion-label>
          <ion-input
            type="text"
            formControlName="chassis_number"
            required
            class="ion-text-uppercase"
          >
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Nombre de portes</ion-label>
          <ion-select formControlName="doors" required value="">
            <ion-select-option value="3 portes">3 portes</ion-select-option>
            <ion-select-option value="5 portes">5 portes</ion-select-option>
            <ion-select-option value="Autres">autre</ion-select-option>
          </ion-select>
        </ion-item>

        <div
          class="ion-margin-top"
          formArrayName="tasks"
          *ngFor="let item of devisForm.get('tasks')['controls']; let i = index;"
        >
          <ion-item color="light">
            Degat {{i+1}}
            <ion-icon
              *ngIf="i !== 0"
              ios="close-circle-outline"
              md="close-circle-sharp"
              slot="end"
              (click)="deleteTask(i)"
            ></ion-icon>
          </ion-item>
          <div [formGroupName]="i">
            <ion-item>
              <ion-label position="floating">Stroke</ion-label>
              <ion-select formControlName="stroke_id" required value="">
                <ion-select-option
                  *ngFor="let st of strokes$ | async,let i= index;"
                  [value]="st.id"
                  >{{st.name}}
                </ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label>Photo</ion-label>
              <ion-button size="small" (click)="getPicture('camera')">
                <ion-icon name="camera" slot="start"></ion-icon>
                <ion-label>Camera</ion-label>
              </ion-button>
              <ion-button
                *ngIf="devisForm.get('tasks')['controls'] &&
                devisForm.get('tasks').value[i].picture"
                (click)="showPicture(devisForm.get('tasks').value[i].picture)"
                slot="end"
                size="small"
              >
                <ion-icon name="camera" slot="start"></ion-icon>
                <ion-label>Voir</ion-label>
              </ion-button>
              <input
                type="file"
                #filePicker
                (change)="onFileChoose($event,i)"
              />
            </ion-item>

            <ion-item>
              <ion-label position="floating">Description</ion-label>
              <ion-textarea formControlName="description"></ion-textarea>
            </ion-item>
          </div>
        </div>
        <ion-row>
          <ion-col>
            <ion-button (click)="addNewTask()" color="medium" expand="block"
              >Ajouter un dégat</ion-button
            >
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button type="submit" color="success" expand="block"
              >Envoyer le devis
            </ion-button>
          </ion-col>
        </ion-row>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
