<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <app-back-button></app-back-button>
    </ion-buttons>
    <ion-title>Détail du devis</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="quote">
    <ion-item>
      <div *ngIf="user.admin">
        <div *ngIf="quote.waiting && !quote.price && !quote.duration">
          <p>Nouveau devis en attente d'actions.</p>
        </div>
        <div *ngIf="quote.waiting && quote.price && quote.duration">
          <p>Devis estimé.</p>
          <p>En attente de prise de rendez-vous..</p>
        </div>

        <div
          *ngIf="quote.storm && quote.meeting_date == null && quote.garage_id == null"
        >
          <h5>Devis véhicule grêlé</h5>
          <p>Estimation gratuite pour une durée de 30 minutes.</p>
        </div>
        <div *ngIf="quote.accepted && quote.price ">
          <p>Devis accepté.</p>
        </div>
        <div
          *ngIf="quote.price && quote.duration && !quote.meeting_date  && !quote.garage_id "
        >
          <p>
            Estimation de {{ quote.price }}€ pour une durée de {{
            totalDurationString}}.
          </p>
        </div>

        <div *ngIf="quote.accepted && quote.meeting_date && quote.garage_id">
          <h5>L'utilisateur a accepté le devis et fixé un rendez-vous !</h5>
          <p>
            <span class="title">Rendez-vous :</span>
            {{ quote.meeting_date | date :'dd/MM/yyyy' }}
          </p>
          <p><span class="title">Montant :</span> {{ quote.price }}€</p>
          <p><span class="title">Durée :</span> {{ totalDurationString }}</p>
        </div>

        <div *ngIf="quote.refused">
          <h5>Vous avez refusé ce devis !</h5>
        </div>
      </div>

      <div *ngIf="!user.admin">
        <div *ngIf="quote.waiting && !quote.price && !quote.duration">
          <p>Devis envoyé et en attente de vérification par un admin.</p>
        </div>
        <div
          *ngIf="quote.accepted && quote.price && quote.duration && quote.meeting_date == null && quote.garage_id == null"
        >
          <p>Devis accepté.</p>
        </div>

        <div
          *ngIf="quote.storm && quote.meeting_date == null && quote.garage_id == null"
        >
          <h5>Devis véhicule grêlé</h5>
          <p>Estimation gratuite pour une durée de 30 minutes.</p>
        </div>

        <div
          *ngIf="quote.waiting && quote.price && quote.duration && quote.meeting_date == null && quote.garage_id == null"
        >
          <h5>Devis accépté :</h5>
          <p>
            Une estimation de {{ quote.price }}€ pour une durée de {{
            totalDurationString }} a été établie.
          </p>
        </div>

        <div *ngIf="quote.accepted && quote.meeting_date && quote.garage_id">
          <p>
            <span class="title">Rendez-vous :</span>
            {{ quote.meeting_date | date :'dd/MM/yyyy' }}
          </p>
          <p><span class="title">Montant :</span> {{ quote.price }}€</p>
          <p><span class="title">Durée :</span> {{ totalDurationString }}</p>
        </div>

        <div *ngIf="quote.refused">
          <p>Votre devis a été refusé par l'administrateur.</p>
        </div>
      </div>
    </ion-item>

    <ion-item
      *ngIf="(quote.waiting && user.admin && !quote.price && !quote.duration &&  communications.length == 0)
      || (quote.waiting && communications.length > 0) ||
       (quote.waiting && user.admin && !quote.price && !quote.duration) ||
       (!user.admin && quote.accepted && !quote.meeting_date ) ||
     (quote.waiting && user.admin && communications.length == 0)||
      (quote.waiting && user.admin) ||
     (!user.admin &&
     quote.waiting &&
      quote.price &&
      quote.duration &&
      quote.meeting_date == null &&
       quote.garage_id == null) "
    >
      <ion-button
        *ngIf="(quote.waiting && user.admin && !quote.price && !quote.duration &&  communications.length == 0)
          || (quote.waiting && communications.length > 0)"
        [routerLink]="['communications']"
        color="medium"
        slot="start"
      >
        <ion-icon ios="chatbox-ellipses-outline" md="chatbox-ellipses-sharp">
        </ion-icon>
      </ion-button>

      <ion-button
        *ngIf="quote.waiting && user.admin && !quote.price && !quote.duration"
        color="success"
        fill="outline"
        style="width: 100%"
        >Estimer</ion-button
      >
      <ion-button
        *ngIf="!user.admin && quote.accepted && !quote.meeting_date"
        [routerLink]="['meeting']"
        color="primary"
        fill="outline"
        style="width: 100%"
        >Fixer un Rendez-vous</ion-button
      >
      <ion-button
        *ngIf="quote.waiting && user.admin"
        color="danger"
        fill="outline"
        (click)="refuseQuote(quote)"
        >Refuser</ion-button
      >
      <ion-button
        *ngIf="!user.admin &&
        quote.waiting &&
         quote.price &&
         quote.duration &&
         quote.meeting_date == null &&
          quote.garage_id == null"
        color="sucess"
        fill="outline"
        (click)="acceptQuote(quote)"
        >Fixer un Rendez-vous</ion-button
      >
    </ion-item>
    <ion-item>
      <ion-icon color="success" name="car" slot="start"></ion-icon>
      <ion-label class="brandTitle"
        >Devis #{{quote.id}}
        <span *ngIf="quote.storm === 0"
          >[ {{quote.brand}} - {{quote.model}} ]</span
        ></ion-label
      >
    </ion-item>

    <ion-card-content *ngIf="quote.storm === 0">
      <ion-item>
        <ion-label class="label-title">User : </ion-label>
        <ion-badge color="medium" slot="end"
          >{{quote.user.firstname}} {{quote.user.lastname}}</ion-badge
        >
      </ion-item>
      <ion-item>
        <ion-label class="label-title">Immatriculation : </ion-label>
        <ion-badge color="medium" slot="end">{{quote.plate_number}}</ion-badge>
      </ion-item>
      <ion-item>
        <ion-label class="label-title">Année : </ion-label>
        <ion-badge color="medium" slot="end">{{quote.year}}</ion-badge>
      </ion-item>
      <ion-item>
        <ion-label class="label-title">Marque : </ion-label>
        <ion-badge color="medium" slot="end"
          >{{quote.brand}} - {{quote.model}}</ion-badge
        >
      </ion-item>
      <ion-item *ngIf="quote.chassis_number && quote.chassis_number !== ''">
        <ion-label class="label-title">Numéro de chassis : </ion-label>
        <ion-badge color="medium" slot="end"
          >{{quote.chassis_number}}</ion-badge
        >
      </ion-item>
      <ion-item>
        <ion-label class="label-title">Nombre de portes : </ion-label>
        <ion-badge color="medium" slot="end">{{quote.doors}}</ion-badge>
      </ion-item>
      <hr />
      <ion-item *ngIf="quote.duration">
        <ion-label class="label-title">Estimation totale du temps : </ion-label>
        <ion-badge color="success" slot="end"
          >{{totalDurationString}}</ion-badge
        >
      </ion-item>
      <ion-item *ngIf="quote.price">
        <ion-label class="label-title"
          >Estimation totale du prix (€) :
        </ion-label>
        <ion-badge color="success" slot="end">{{totalPrice}} €</ion-badge>
      </ion-item>
      <div *ngIf="quote && quote.tasks">
        <div *ngFor="let task of quote.tasks;let k= index;">
          <ion-item>
            <ion-label>Dégat {{k+1}} :</ion-label>
          </ion-item>
          <ion-item>
            <ion-select
              required
              [value]="task.stroke_id"
              disabled
              style="display: contents; color: lightgreen"
            >
              <ion-select-option
                *ngFor="let item of strokes;let i= index;"
                [value]="item.id"
                >{{item.name}}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-img
              class="ion-padding"
              [src]="task.picture"
              (click)="showPicture(task.picture)"
              width="150px"
            ></ion-img>
            <span class="description-stroke" *ngIf="!task.description">
              Aucune description</span
            >
            <span class="description-stroke" *ngIf="task.description"
              >{{task.description}}
            </span>
          </ion-item>

          <div
            *ngIf="user.admin &&
             quote.waiting === 1 &&
             quote.refused === 0 &&
              quote.accepted === 0 &&
               !quote.price && !quote.duration"
          >
            <ion-item>
              <ion-input
                [(ngModel)]="task.price"
                type="text"
                placeholder="Estimation du prix"
              ></ion-input>
              <ion-icon
                class="suffix-icon"
                color="secondary"
                name="logo-euro"
                slot="end"
              ></ion-icon>
            </ion-item>
            <ion-item>
              <ion-input
                [(ngModel)]="task.duration"
                type="text"
                placeholder="Estimation du temps / min"
              ></ion-input>
              <ion-icon
                class="suffix-icon"
                color="secondary"
                name="alarm"
                slot="end"
              ></ion-icon>
            </ion-item>
          </div>
        </div>
      </div>
      <ion-row
        *ngIf="user.admin && quote.waiting === 1 && !quote.price && !quote.duration"
      >
        <ion-col>
          <ion-button (click)="estimate()" color="success" expand="block"
            >Estimer le devis
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
