#pages-garages-list {
    #list-garages {
        border-collapse: collapse;
        width: 100%;
        margin: 0 0 20px 0;

        tbody {
            width: 100%;

            tr {
                height: 40px;
                border-bottom: 1px solid rgba(#000, .1);

                td {
                    font-size: .9em;

                    a {
                        color: #03a9f4;
                    }
                }
                &:last-child {
                    border: none;
                }
            }
        }
    }
}