#pages-quotes-meeting {
    #container-garages {
        select {
            width: 100%;
            height: 44px;
            border-radius: 4px;
            border: 1px solid rgba(0, 0, 0, 0.2);
            color: #36404b;
            padding: 0 10px;
            appearance: none;
        }
    }
    .dates-filters {
        margin: 20px 0 0 0;

        select {
            height: 44px;
            border-radius: 4px;
            border: 1px solid rgba(0, 0, 0, 0.2);
            color: #36404b;
            padding: 0 10px;
            margin: 0 10px 0 0;
            appearance: none;

            &:last-child {
                margin: 0;
            }
        }
    }
    #calendar {
        width: 100%;
        border-collapse: collapse;
        margin: 30px 0 20px 0;

        thead {
            tr {
                th {
                    font-weight: 400;
                    font-size: .8em;
                    color: #6f6f6f;
                    border-bottom: 1px solid rgba(#000, .2);
                    font-style: italic;
                }
            }
        }
        tbody {
            tr {
                td {
                    padding: 0;
                    margin: 0;

                    button {
                        text-decoration: none;
                        text-align: center;
                        height: 44px;
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: .9em;
                        color: #36404b;
                        background: none;
                        border: none;
                        transition: all .2s;

                        &.current {
                            text-decoration: underline;
                            border-radius: 100%;
                        }
                        &.disabled {
                            opacity: .6;
                        }
                        &.selected {
                            background: #03a9f4;
                            border-radius: 4px;
                            color: #fff;
                        }
                    }
                    .before {
                        text-decoration: none;
                        text-align: center;
                        height: 44px;
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: .9em;
                        color: #36404b;
                        background: none;
                        border: none;
                        opacity: .4;
                    }
                }
            }
        }
    }
    #container-availabilities {
        .availabilities {
            margin: 0 0 20px 0;
            padding: 0;
            list-style: none;
            border-radius: 4px;
            border: 1px solid rgba(#000, .1);

            .availability {
                border-bottom: 1px solid rgba(#000, .1);
                background: #fff;

                &:last-child {
                    border-bottom: 0;
                }
                .content {
                    display: flex;
                    transition: all .2s;

                    .hour {
                        display: inline-block;
                        font-size: .7em;
                        padding: 12px 20px;
                        border-right: 1px solid rgba(#000, .1);
                        transition: all .2s;
                        color: #607D8B;
                    }
                    .free, .chosen {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: #607D8B;
                        padding: 0 0 0 20px;
                        font-size: .9em;
                    }
                    .chosen {
                        display: none;
                    }
                    &.reserved, &.too_short, &.closed {
                        background: #e4e4e4;
                    }
                    &.selected {
                        background: #03a9f4;

                        .hour, .chosen {
                            color: #fff;
                        }
                        .free {
                            display: none;
                        }
                        .chosen {
                            display: flex;
                        }
                    }
                }
            }
        }
    }
}