#pages-quotes-status {
    h1 {
        font-size: 1.4em;
    }
    p {
        font-size: .9em;
        line-height: 1.6;
        margin: 20px 0;
    }
    a {
        display: block;
        text-align: center;
    }
    .informations {
        margin: 0 0 20px 0;
        
        h1 {
            margin: 0 0 20px 0;
        }
        div {
            display: block;
            margin: 0 0 5px 0;
            
            .title {
                font-weight: 600;
            }
        }
    }
}