<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="closePop()">
        <ion-icon name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title *ngIf="mode==='add'">Ajouter un Garage</ion-title>
    <ion-title *ngIf="mode==='edit'">Modifier le Garage</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="garage">
    <form #garageForm>
      <ion-item>
        <ion-label position="floating">Nom du garage</ion-label>
        <ion-input required [(ngModel)]="garage.name" name="name"> </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Status du garage</ion-label>
        <ion-select required [(ngModel)]="garage.status_id" name="status_id">
          <ion-select-option
            *ngFor="let item of status$ | async"
            [value]="item.id"
            >{{item.name}}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <br *ngIf="garage.google_calendar" />

      <div *ngIf="garage.google_calendar" id="google_calendars">
        <ng-container
          *ngFor="let calendar of garage.google_calendar; let j= index"
        >
          <ion-item class="item-border-double">
            <ion-label slot="start">Calendrier {{ j+1 }}</ion-label>
            <ion-button
              color="light"
              slot="end"
              size="small"
              (click)="deleteCalendar(j)"
            >
              <ion-icon
                ios="trash-outline"
                md="trash-sharp"
                color="danger"
              ></ion-icon>
            </ion-button>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Nom</ion-label>
            <ion-input
              *ngIf="calendar"
              [(ngModel)]="calendar.name"
              [ngModelOptions]="{standalone: true}"
            >
            </ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">ID</ion-label>
            <ion-input
              *ngIf="calendar"
              [(ngModel)]="calendar.id"
              [ngModelOptions]="{standalone: true}"
            >
            </ion-input>
          </ion-item>
        </ng-container>
        <ion-button
          *ngIf="garage.google_calendar"
          size="small"
          expand="full"
          color="medium"
          (click)="addCalendar()"
        >
          Ajouter un calendrier
        </ion-button>
      </div>

      <br *ngIf="garage.google_calendar" />
      <div id="openings" *ngIf="garage.opening">
        <ion-list>
          <ion-item class="item-border-double">
            <ion-label expand="full" slot="start"
              >Heures d'ouvertures</ion-label
            >
          </ion-item>
        </ion-list>
        <div class="day" *ngFor="let day of garage.opening; let i = index;">
          <span class="day_name" (click)="showDay($event)"
            >{{ momentParse(i)}}</span
          >
          <table class="hours" *ngIf="day">
            <tbody>
              <tr *ngFor="let hour of day | keyvalue; let j = index">
                <div>
                  <td class="hour">{{ hour.key }}</td>
                  <td class="status">
                    <ion-select
                      *ngIf="hour"
                      [class]="hour.value.status"
                      [(ngModel)]="hour.value.status"
                      [ngModelOptions]="{standalone: true}"
                      placeholder="Status"
                    >
                      <ion-select-option value="opened"
                        >Ouvert</ion-select-option
                      >
                      <ion-select-option value="closed"
                        >Fermé</ion-select-option
                      >
                    </ion-select>
                  </td>
                  <td class="display">
                    <ion-select
                      *ngIf="hour"
                      name="i+''+j"
                      [(ngModel)]="hour.value.display"
                      [ngModelOptions]="{standalone: true}"
                      [class]="hour.value.display ? 'display' : ''"
                      placeholder="Affichage"
                    >
                      <ion-select-option value="true"
                        >Afficher</ion-select-option
                      >
                      <ion-select-option value="false"
                        >Masquer</ion-select-option
                      >
                    </ion-select>
                  </td>
                </div>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <ion-row class="ion-margin">
        <ion-col>
          <ion-button
            type="submit"
            color="success"
            expand="block"
            (click)="addGarage(garage)"
          >
            <span *ngIf="mode !== 'edit'">Ajouter le garage</span>
            <span *ngIf="mode === 'edit'">Modifier le garage</span>
          </ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-card>
</ion-content>
