<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="closePop()">
        <ion-icon name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title *ngIf="mode==='add'">Ajouter un Garage</ion-title>
    <ion-title *ngIf="mode==='edit'">Modifier le Garage</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="garage">
    <form (ngSubmit)="addGarage(garageForm.value)">
      <ion-item>
        <ion-label position="floating">Nom du garage</ion-label>
        <ion-input required [(ngModel)]="garage.name" name="name"> </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Status du garage</ion-label>
        <ion-select required [(ngModel)]="garage.status_id" name="status_id">
          <ion-select-option
            *ngFor="let item of status$ | async"
            [value]="item.id"
            >{{item.name}}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <div id="openings">
        <div class="day" *ngFor="let day of garage.opening; let i = index;">
          <span class="day_name" (click)="showDay($event)"
            >{{ momentParse(i)}}</span
          >
          <table class="hours" *ngIf="day">
            <tbody>
              <tr *ngFor="let hour of day | keyvalue; let j = index">
                <div>
                  <td class="hour">{{ hour.key }}</td>
                  <td class="status">
                    <ion-select
                      [class]="hour.value.status"
                      placeholder="Status"
                    >
                      <ion-select-option value="opened"
                        >Ouvert</ion-select-option
                      >
                      <ion-select-option value="closed"
                        >Fermé</ion-select-option
                      >
                    </ion-select>
                  </td>
                  <td class="display">
                    <ion-select
                      *ngIf="hour"
                      name="i+''+j"
                      [(ngModel)]="hour.value.display"
                      [class]="hour.value.display ? 'display' : ''"
                      placeholder="Affichage"
                    >
                      <ion-select-option value="true"
                        >Afficher</ion-select-option
                      >
                      <ion-select-option value="false"
                        >Masquer</ion-select-option
                      >
                    </ion-select>
                  </td>
                </div>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <ion-row class="ion-margin">
        <ion-col>
          <ion-button type="submit" color="success" expand="block">
            Ajouter le garage
          </ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-card>
</ion-content>
