#mainTopbar {
    background: #36404b;
    display: flex;
    align-items: center;
    height: 60px;
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    width: 100%;
    
    h1 {
        color: #fff;
        font-weight: 300;
        margin: 0 0 0 16px;
        font-size: 1em;
        font-weight: 400;
    }
    #link-notifications {
        color: #fff;
        text-decoration: none;
        margin: 0 0 0 auto;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 10px;
        position: relative;

        i {
            font-size: 1.4em;
        }
        .number {
            position: absolute;
            color: #f44336;
            font-size: .7em;
            font-weight: bold;
        }
    }
    button {
        padding: 0 16px;
        min-width: 60px;
        height: 60px;
        background: none;
        border: none;
        cursor: pointer;
        position: relative;

        .notifications {
            position: absolute;
            top: 16px;
            right: 10px;
            width: 10px;
            height: 10px;
            background: #f44336;
            border-radius: 100%;
            z-index: 999;
        }
        span {
            display: block;
            height: 1px;
            width: 100%;
            background: #fff;
            position: relative;

            &:after, &:before {
                content: '';
                display: block;
                width: 100%;
                height: 1px;
                background: #fff;
                position: absolute;
            }
            &:before {
                top: -6px;
            }
            &:after {
                bottom: -6px;
            }
        }
    }
}