<ion-content>
  <br /><br />
  <div class="choices">
    <ion-segment [(ngModel)]="mode" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="login" checked active>
        <ion-label>Connexion</ion-label>
        <ion-icon ios="log-in-outline" md="log-in-sharp"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="register">
        <ion-label>Inscription</ion-label>
        <ion-icon ios="add-circle-outline" md="add-circle-sharp"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </div>
  <div class="content">
    <form
      *ngIf="mode !== 'register'"
      (ngSubmit)="login()"
      [formGroup]="credentials"
    >
      <div class="input-group">
        <ion-item>
          <ion-input
            type="email"
            placeholder="Email"
            formControlName="email"
          ></ion-input>
        </ion-item>
        <div
          *ngIf="(email.dirty || email.touched) && email.errors"
          class="errors"
        >
          {{email.errors | inputError}}
        </div>
        <div
          *ngIf="(email.dirty || email.touched) && email.errors"
          class="errors"
        >
          <span *ngIf="email.errors?.required">Email is required</span>
          <span *ngIf="email.errors?.email">Email is invalid</span>
        </div>
        <ion-item>
          <ion-input
            type="password"
            placeholder="Mot de passe"
            formControlName="password"
          ></ion-input>
        </ion-item>
        <div
          *ngIf="(password.dirty || password.touched) && password.errors"
          class="errors"
        >
          <span *ngIf="password.errors?.required">Password is required</span>
          <span *ngIf="password.errors?.minlength"
            >Password needs to be 6 characters</span
          >
        </div>
        <div
          *ngIf="(password.dirty || password.touched) && password.errors"
          class="errors"
        >
          {{password.errors | inputError}}
        </div>
      </div>

      <ion-button type="submit" expand="block" [disabled]="!credentials.valid"
        >se connecter</ion-button
      >
      <ion-button
        type="button"
        expand="block"
        color="white"
        fill="clear"
        (click)="mode = 'register'"
        >Créer un compte
      </ion-button>
    </form>
    <form
      *ngIf="mode === 'register'"
      (ngSubmit)="register()"
      [formGroup]="registerForm"
    >
      <div class="input-group">
        <ion-radio-group formControlName="status_id">
          <ion-item>
            <ion-label>Particulier</ion-label>
            <ion-radio value="1"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>Professionnel de l'automobile</ion-label>
            <ion-radio value="2"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Cabinet d'expertise</ion-label>
            <ion-radio value="3"></ion-radio>
          </ion-item>
        </ion-radio-group>

        <ion-item>
          <ion-input
            name="lastname"
            type="text"
            placeholder="Nom"
            formControlName="lastname"
            required
          ></ion-input>
        </ion-item>
        <div
          *ngIf="(registerForm.get('lastname').dirty ||
          registerForm.get('lastname').touched) &&
          registerForm.get('lastname').errors"
          class="errors"
        >
          {{registerForm.get('lastname').errors | inputError}}
        </div>
        <ion-item>
          <ion-input
            name="firstname"
            type="text"
            placeholder="Prénom"
            formControlName="firstname"
            required
          ></ion-input>
        </ion-item>
        <div
          *ngIf="(registerForm.get('firstname').dirty ||
          registerForm.get('firstname').touched) &&
          registerForm.get('firstname').errors"
          class="errors"
        >
          {{registerForm.get('firstname').errors | inputError}}
        </div>
        <ion-item>
          <ion-input
            name="email"
            type="email"
            placeholder="Adresse email"
            formControlName="email"
            required
          ></ion-input>
        </ion-item>
        <div
          *ngIf="(registerForm.get('email').dirty ||
          registerForm.get('email').touched) &&
          registerForm.get('email').errors"
          class="errors"
        >
          {{registerForm.get('email').errors | inputError}}
        </div>
        <ion-item>
          <ion-input
            name="address"
            type="text"
            placeholder="Adresse"
            formControlName="address"
            required
          ></ion-input>
        </ion-item>
        <div
          *ngIf="(registerForm.get('address').dirty ||
          registerForm.get('address').touched) &&
          registerForm.get('address').errors"
          class="errors"
        >
          {{registerForm.get('address').errors | inputError}}
        </div>
        <ion-item>
          <ion-input
            name="phone_number"
            type="text"
            placeholder="Numéro de télephone"
            formControlName="phone_number"
            required
          ></ion-input>
        </ion-item>
        <div
          *ngIf="(registerForm.get('phone_number').dirty ||
          registerForm.get('phone_number').touched) &&
          registerForm.get('phone_number').errors"
          class="errors"
        >
          {{registerForm.get('phone_number').errors | inputError}}
        </div>
        <ion-item
          *ngIf="registerForm.get('status_id').value === '2' ||registerForm.get('status_id').value === '3'"
        >
          <ion-input
            name="vat_number"
            type="text"
            placeholder="Numéro de TVA/Siret"
            formControlName="vat_number"
            required
          ></ion-input>
        </ion-item>
        <div
          *ngIf="(registerForm.get('vat_number').dirty ||
          registerForm.get('vat_number').touched) &&
          registerForm.get('vat_number').errors &&
          registerForm.get('status_id').value === '2' ||
          registerForm.get('status_id').value === '3' "
          class="errors"
        >
          {{registerForm.get('vat_number').errors | inputError}}
        </div>
        <ion-item>
          <ion-input
            type="password"
            placeholder="Mot de passe"
            formControlName="password"
          ></ion-input>
        </ion-item>
        <div
          *ngIf="(registerForm.get('password').dirty ||
          registerForm.get('password').touched) &&
          registerForm.get('password').errors"
          class="errors"
        >
          {{registerForm.get('password').errors | inputError}}
        </div>
      </div>

      <ion-button type="submit" expand="block" [disabled]="!registerForm.valid"
        >S'inscrire</ion-button
      >
      <ion-button
        type="button"
        expand="block"
        color="white"
        fill="clear"
        (click)="mode = 'register'"
        >Se connecter
      </ion-button>
    </form>
  </div>
</ion-content>
