#pages-dashboard {
    margin: 0 0 44px 0;
}
#newQuote, #getQuote {
    #tasks {
        .task {
            margin: 0 0 10px 0;
            border: 1px solid #cbd4db;
            border-radius: 4px;
            overflow: hidden;
            background: #f1f1f1;
            position: relative;

            header {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 10px 0 10px 10px;
                height: 40px;

                .title {
                    font-weight: 500;
                    font-size: .8em;
                    color: #607d8b;
                }
                .btnDeleteTask {
                    background: none;
                    color: #f44336;
                    border: none;
                    height: 40px;
                    width: 40px;
                    padding: 0;
                }
            }
            .container {
                .input-file {
                    label {
                        input {
                            display: none;
                        }
                        span {
                            cursor: pointer;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            height: 100px;
                            width: 100%;
                            background: #dadada;
                            font-style: italic;
                            color: #607d8b;
                            font-size: .9em;
                        }
                    }
                    .preview {
                        img {
                            width: 100%;
                        }
                    }

                }
                .input {
                    padding: 10px;
                }
            }
            .deleting {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: none;
                justify-content: center;
                align-items: center;
                background: #607d8b;
                color: #fff;
                font-style: italic;
            }
            .adding {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: none;
                justify-content: center;
                align-items: center;
                background: #607d8b;
                color: #fff;
                font-style: italic;
            }
            &.deleting {
                .deleting {
                    display: flex;
                }
            }
            &.adding {
                .adding {
                    display: flex;
                }
            }
        }
        #btnAddTask {
            background: rgba(#9e9e9e, .2);
            width: 100%;
            color: #6b665e;
            border: 1px dashed #9e9e9e;
            margin: 0 0 10px 0;
        }
    }
    #btnSubmit {
        width: 100%;
        height: 44px;
    }
}