#newQuote {
    #tasks {
        .task {
            background: #e0e0e0;
            margin: 0 0 10px 0;

            .title {
                height: 44px;
                width: 100%;
                background: #e0e0e0;
                padding: 10px;
            }
            .container {
                padding: 10px;

                .input-file {
                    label {
                        input {
                            display: none;
                        }
                        span {
                            cursor: pointer;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            height: 200px;
                            width: 100%;
                            background: #9E9E9E;
                            border: 3px dashed #607D8B;
                        }
                    }
                    .preview {
                        img {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
    #btnSubmit {
        margin: 20px 0 0 0;
        width: 100%;
        height: 44px;
    }
}