#containerLogin {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to top right, #0374c4, #18c3f1);

    #content {
        width: 95%;
        max-width: 585px;
        margin: 0 auto 20px auto;

        #logo {
            height: 100px;
            margin: 20px auto;
            display: block;
        }
        #containerForms {
            position: relative;
            border-radius: 4px;
            padding: 50px 30px;
            background: #fff;
    
            h2 {
                margin: 0 0 20px 0;
                text-align: center;
                font-weight: 400;
                font-size: 2em;
            }
            #loginForm {
                margin: 0 0 20px 0;
                padding: 0 0 30px 0;
                border-bottom: 1px solid #eaeaea;
            }
            #registerForm {
                .status {
                    margin: 0 0 10px 0;

                    .title {
                        display: block;
                        margin: 0 0 10px 0;
                        font-weight: 500;
                        font-size: .8em;
                        color: #607d8b;
                    }
                    .radio {
                        margin: 0 0 10px 0;

                        &:last-child {
                            margin: 0;
                        }
                    }
                    .error-message {
                        color: #F44336;
                        font-size: .8em;
                        font-style: italic;
                        display: block;
                    }
                    &.error {
                        .title {
                            color: #F44336;
                        }
                    }
                }
            }
        }
        .link-forgot-password {
            display: block;
            text-align: center;
            color: #fff;
            padding: 10px;
            font-size: .9em;
        }
    }
}
