* {
    box-sizing: border-box;
    outline: none;
    font-family: 'Roboto', sans-serif;
    -webkit-tap-highlight-color: transparent;
}
html, body {
    min-height: 100vh;
    background: #f6f8f9;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #3d3d3d;
    font-size: 1em;

    &.menu-open {
        overflow: hidden;
    }
}
#__nuxt {
    min-height: 100vh;
}
#containerApp {
    min-height: 100vh;
    display: flex;
}
#mainPage {
    width: 100%;

    #containerMainPage {
        min-height: 100vh;
        padding: 80px 20px 20px 20px;
    }
}
.container-page {
    position: relative;
    
    &.loading {
        #wrapper-loader {
            visibility: visible;
            opacity: 1;
        }
    }
}
h1, h2 {
    color: #36404b;
    margin: 0;
}
input {
    font-weight: 400;
}
button {
    cursor: pointer;
}
input, select, textarea {
    &:disabled {
        background: #ebebe4;
    }
}