$color-loader: #03A9F4;

#wrapper-loader {
	visibility: hidden;
	opacity: 0;
	position: fixed;
	height: 100%;
	width: 100%;
	background: #f6f8f9;
	top: 0;
	left: 0;
	display: flex;
    align-items: center;
	justify-content: center;
	transition: all .2s;
	z-index: 9999999;
}
.profile-main-loader .loader {
	position: relative;
	margin: 0px auto;
	width: 50px;
	height: 50px;
}
.profile-main-loader .loader:before {
	content: '';
	display: block;
	padding-top: 100%;
}
.circular-loader {
	-webkit-animation: rotate 2s linear infinite;
			animation: rotate 2s linear infinite;
	height: 100%;
	-webkit-transform-origin: center center;
		-ms-transform-origin: center center;
			transform-origin: center center;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	margin: auto;
}
.loader-path {
	stroke-dasharray: 150,200;
	stroke-dashoffset: -10;
	-webkit-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
			animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
	stroke-linecap: round;
}
@-webkit-keyframes rotate {
	100% {
		-webkit-transform: rotate(360deg);
				transform: rotate(360deg);
	}
}
@keyframes rotate {
	100% {
		-webkit-transform: rotate(360deg);
				transform: rotate(360deg);
	}
}
@-webkit-keyframes dash {
	0% {
		stroke-dasharray: 1,200;
		stroke-dashoffset: 0;
	}
	50% {
		stroke-dasharray: 89,200;
		stroke-dashoffset: -35;
	}
	100% {
		stroke-dasharray: 89,200;
		stroke-dashoffset: -124;
	}
}
@keyframes dash {
	0% {
		stroke-dasharray: 1,200;
		stroke-dashoffset: 0;
	}
	50% {
		stroke-dasharray: 89,200;
		stroke-dashoffset: -35;
	}
	100% {
		stroke-dasharray: 89,200;
		stroke-dashoffset: -124;
	}
}
@-webkit-keyframes color {
	0% {
		stroke: $color-loader;
	}
	40% {
		stroke: $color-loader;
	}
	66% {
		stroke: $color-loader;
	}
	80%, 90% {
		stroke: $color-loader;
	}
}
@keyframes color {
	0% {
		stroke: $color-loader;
	}
	40% {
		stroke: $color-loader;
	}
	66% {
		stroke: $color-loader;
	}
	80%, 90% {
		stroke: $color-loader;
	}
}
