#pages-users-show {
    #list-quotes {
        border-collapse: collapse;
        width: 100%;

        tbody {
            width: 100%;

            tr {
                height: 40px;
                border-bottom: 1px solid rgba(#000, .1);

                td {
                    font-size: .9em;

                    a {
                        color: #03a9f4;
                    }
                    &.date {
                        text-align: right;
                        font-style: italic;
                        font-size: .8em;
                        color: #5a7684;
                    }
                }
                &:last-child {
                    border: none;
                }
            }
        }
    }
}